*{
    padding: 0;
    margin: 0;
}
body{
   background-image:url(../images/fondo2.jpeg);
   background-image: no-repeat;
  
   

}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
 

}
input{
    padding: 20px;
    width: 350px;
    border-radius: 15px;
    margin-top: 10px;
    border-style:groove;
    background-color: black;
    color: aliceblue;
    border-color: blue;
    
   


}
.div{
display: flex;
flex-direction: row;
justify-content: center;
flex-wrap: wrap;
margin:15px;
margin-top: 30px;
border-color:greenyellow;


}
img{
    width: 200px;
    margin:10px;
    border-radius: 100px;
    margin-bottom: 20px;
  
}

    
header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 40px;
    
  
    
}
.morty{
    display: flex;
    width: 700px;
    border: none;
    opacity: 0.7;
}
a{
    text-decoration: none;
}
p{
    text-align: center;
    color:white;
    background-color: rgb(36, 200, 200);
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 12px;
  
    
}
.photo{
    display: block;
    align-content: center;
    background-color: aqua; 
    max-width: 500px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    padding: 20px;
  
}
.divselect{
    display:flex;
    justify-content: center;
   
   

}
.select{
    padding: 8px;
    width: 200px; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(164, 246, 83);
    border-radius: 12px;
    text-align: center;
    font-size: 18px;
    color:rgb(41, 37, 37)

}

    
